@import '../../styles.scss';
@import '../../common.scss';
.ab-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header__height;
    color: $warning;
    a {
        color: $warning;
        :hover {
            color: $success;
        }
    }
    .container--button {
        width: 3rem;
        display: flex;
        justify-content: center;
    }
    .container--brand {
        margin: 0.2rem;
        color: $light;
        flex-grow: 1;
        display:flex;
        .underscore {
            flex-grow: 1;
            border-bottom: 2px solid $light;
        }
    }

    @media only screen and (max-width: 600px) {
        .container--brand {
            display: none;
        }
      }

    .container--nav {
        // transition: 1s 3sn;
        display: flex;
        
        align-items: center;
        // justify-content: flex-start;
        justify-content: flex-end;
        margin-right: 0.5rem;
        font-size: 0.5rem;
        .container--nav--item {
            margin: 0.2rem;
            padding: 0.2rem;
            display: flex;
            font-size: 0.5rem;
            flex-direction: column;
            align-items: center;
            div {
                font-size: 0.5rem;
            }
 
        }
    }
    
}