<div class="ab-container">
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-js-square fa-lg"></i>
    </a>
    <div>JavaScript</div>
</div>
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-css3-alt fa-lg"></i>
    </a>
    <div>CSS</div>
</div>
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-angular fa-lg"></i>
    </a>
    <div>Angular</div>
</div>
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-angular fa-lg"></i>
    </a>
    <div>About</div>
</div>
<div class="placeholder"></div>
</div>