@import '../../common.scss';
@import '../../styles.scss';
.ab-container {    
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    * { 
        font-size: 1rem;
    }
    a { 
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;       
        color: $danger;
        margin-bottom: 1rem;
        :hover {
            color: $warning;
        }
        svg {
            font-size: 2rem;
        }
    }
    > div {
        margin: 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        > div{
            // font-size: 0.5rem;
        }
    }
}