<div class="ab-container">
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-js-square fa-lg"></i>
        <div>JavaScript</div>
    </a>
    
</div>
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-css3-alt fa-lg"></i>
        <div>CSS</div>
    </a>
    
</div>
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-angular fa-lg"></i>
        <div>Angular</div>
    </a>    
</div>
<div class="container--nav--item">
    <a href="">
        <i class="fab fa-angular fa-lg"></i>
        <div>About</div>
    </a>

</div>
